<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: false} }) do |f| %>
  <div class="card container" style="padding: 3rem; max-width: 700px; margin: 1rem auto;">
    <h2 class="text-center" style="margin: 0 0 1rem 0;">Log in</h2>
    <div class="mb-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder:'Email'  %>
    </div>
    <div class="mb-3">
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder:'Password' %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="form-check form-switch">
        <%= f.check_box :remember_me, class:'form-check-input', id:"flexSwitchCheckDefault", role:"switch" %>
        <%= f.label :remember_me, for:'flexSwitchCheckDefault', class:"form-check-label" %>
      </div>
    <% end %>
    <div class="d-grid gap-2">
      <%= f.submit "Log in", class:"btn btn-outline-info" %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
<% end %>