  <%= form_with(model: expense) do |form| %>
    <div>
      <h5 class='text-center display-6'>Add new transaction</h5>
    </div>
    <%= render "devise/shared/error_messages", resource: expense %>
    <div class="container">
      <%= form.text_field :name, autofocus: true, placeholder: "Name", class: "form-control m-2", required: true %>
      <%= form.number_field :amount, placeholder: "Amount", class: "form-control  m-2", required: true, step: 'any' %>
      <%= form.collection_select :group_ids, current_user.groups.order(:name), :id, :name, {}, { class: "form-select  m-2", multiple: true, required: true } %>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
      <%= form.submit "Save", class: "btn btn-success" %>
    </div>
  <% end %>